html {
  background-color: white;
}

.navbar-no-margin {
	margin-bottom: 0px;
}

.navbar-brand {
	font-size: 24px;
}

.nav-link {
	font-size: 24px;
	background-color: #71706D;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
}

.navbar-dark {
	background: #FFB833;
	color: #FFFFFF;
}


.profile-picture { 
	max-width: 50%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.right-hand-card-block {
    padding: 1.25rem;
}

.card {
  border-color: #808080;
}

.card-title {
  color: #FFB833;
  font-weight: 300;
}

.class-title {
	color: #FFB833;
}

.description {
	background-image: url("http://codeatuni.netlify.com/pattern.png");
	background-repeat: repeat-x
}

.btn-lg {
	background-color: #FFB833;
	border-color:#FFB833;
}

.jumbotron {background-image: url("http://eskipaper.com/images/desktop-screensavers-2.jpg");
  background-size: cover;
  color: white;
}

.jumbotron h1, .jumbotron h2 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lead {
	border-color: black;
}


